@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cinzel: "Cinzel", serif;
  --font-lora: "Lora", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel);
}
